{
  "include": ["src/**/*.ts"],
  "exclude": ["src/**/*.spec.ts"],
  "extension": [".ts"],
  "reporter": ["lcov", "text", "text-summary"],
  "check-coverage": true,
  "lines": 92,
  "statements": 92,
  "functions": 92,
  "branches": 92,
  "report-dir": "./.test_report"
}
